//color
$dark: #171717;
$mediumDark: #444444;
$mediumLight: #DA0037;
$light: #EDEDED;
//reset
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.scale-0{
  transform: scale(0);
}

.scale-100{
  transform: scale(1);
}

.w-0{
  width: 0;
}

.w-1\/2{
  width:50%;
}

.w-full{
  width:100%;
}

.h-0{
  height:0;
}

.h-1\/2{
  height:50%;
}

.h-full{
  height:100%;
}

//.close {
//  transform: scale(0);
//  width: 0;
//  height: 0;
//  transition: all ease .5s;
//}
//
//.over{
//  height: 100%;
//}

header {
  nav {
    ul {
      display: flex;
      justify-content: space-around;

      li {
        cursor: pointer;

        &.active {
          color: lime;
        }
      }
    }
  }
}

section{
  border: 1px solid red;
  height: 80vh;
  position: relative;
  div{
    height: 50%;
  }
  div#graph-content{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    transition: all ease .5s;
    &.over{
      height: 100%;
    }
    canvas{
      transition: all ease .5s;
      &:nth-child(1){
        background: darkred;
      }
      &:nth-child(2){
        background: darkgreen;
      }
    }
  }
  div.table{
    border: 1px solid purple;
    transition: all ease .5s;
    //&.over{
    //  height: 100%;
    //}
    canvas{
      //height: 100%;
      //width: 100%;
      background: darkblue;
    }
  }
}
